body {
    font-family: Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    margin: 5px 0; /* separación corta */
}

h1 {
    margin-bottom: 10px; /* un poco más de espacio debajo del título principal */
}